%section.bounded
  #dashboard-summary.three-quarter-container.bounded.no-border
    #dashboard-summary-loading.span9
      .throbber
        Loading...

    - if person.roommateless?
      %p
        No roommates yet.
        = link_to "Click here to add one.", new_person_path

    .clearfix
