
			
			<div id="header">
			  <h1>Log In</h1>
			</div>
			
			<div class="clearfix"></div>
      
      <div class="goldBoxMiddle">
      
			  <% form_tag session_path do %>
  			  <label for="email">Email<span class="small">The email you signed up with</span></label>
  				<%= text_field_tag 'email', @email %>
          
          <label for="password">Password<span class="small">Enter your password so we know you're really you</span></label>
  				<%= password_field_tag 'password', nil %>

  				<!-- Uncomment this if you want this functionality -->
  				<label for="remember_me">Remember Me?<span class="small">Check this box to login automatically for the next 14 days</span></label>
  				<%= check_box_tag 'remember_me', '1', @remember_me, {:style => "float:none;width:20px"} %>

  				<div class="actions">
  				  <button type="submit">Log In</button>
  				</div>
  			<% end %>
  		  
  		  
  		  
  		</div>
  		
  		<div class="goldBoxBottom"></div>
