<% if @house.roommateless? %>
	<div id="roommates">
	  <%= link_to '', new_person_path,  {:class => 'addBanner'}%>
	  <div id="roommatesHeader" class="boxHeader"></div>
	  <div id="roommatesMiddle" class="boxMiddle">
			<h2><%= link_to "Click here to add a roommate", new_roommate_path %>.</h2>
		</div>
		<div id="roommatesFooter" class="boxFooter"></div>
	</div>
<% else %>
	<div id="roommates">
	  <%= link_to '', new_person_path,  {:class => 'addBanner'}%>
	  <div id="roommatesHeader" class="boxHeader"></div>
	  <div id="roommatesMiddle" class="boxMiddle">
	    <div class='column_1'>
				<ul>
	        <% for roommate in @house.people %>
	          <li>
							<span class='expenseName'><%= roommate.name %></span>
							<span class='amount'></span>
							<span class='expenseSmall'></span>
							<span class='expenseDate'></span>
							<div class="clearfix"></div>
						</li>
	        <% end %>
	      </ul>
			</div>
	  </div>
	  <div id="roommatesFooter" class="boxFooter"></div>
	</div>
<% end %>