  <div class="field">
    <%= f.label :name, raw('Name <span class="small">Enter the name of your new roommate</span>') %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, raw('Email <span class="small">Enter your new roommate\'s email address</span>') %>
    <%= f.text_field :email %>
  </div>
