
<div id="header">
  <h1>New Roommate</h1>
</div>

<div class="clearfix"></div>

<div class="goldBoxMiddle">
  <%= form_for(@new_person, :url => add_roommate_people_path) do |f| %>

    <%= render :partial => 'form', :locals => {:f => f} %>
    <div class="actions">
      <button type="submit">Create Roommate</button> or <%= link_to 'cancel', root_path(), {:class => 'cancel'} %>
    </div>
  <% end %>
  
  
</div>

<div class="goldBoxBottom"></div>
