- if flash[:error]
  %section.bounded
    .three-quarter-container.bounded.no-border.dark
      = flash[:error]

%secion.bounded
  .three-quarter-container.bounded
    %h3.ribbon-header New Roommate

    = form_for(@new_person, :url => add_roommate_people_path) do |f|

      = render :partial => 'form', :locals => {:f => f}

      .input.center
        %button.btn.btn-primary( type="submit" ) Create Roommate
