<u>A new expense has been created on MyRoommate<u>

Hey, <%= @expense.creator.name %> created a new expense, that <%= @expense.payer.name %> paid for. He spent <%= @expense.amount %> paying for <%= @expense.name %>.

Login to <a href="http://www.myroommateapp.com">MyRoommate</a> to see who owes who.

- MyRoommate Mailer Monkey