@font-face {
	font-family: "Helvetica Neue";
	src: url('/fonts/HelveticaNeue.ttf');
}
@font-face {
	font-family: "Helvetica Neue Light";
	src: url('/fonts/HelveticaNeueLight.ttf');
}
@font-face {
	font-family: "Helvetica Neue Bold";
	src: url('/fonts/HelveticaNeueBold.ttf');
}


body {margin:0; padding:0;background-image:url('../images/bodyBackground.jpg');background-repeat:no-repeat;background-color:#028eb7;}

div#content {
  width: 960px;
  margin: 0 auto;
  background-image: url('../images/contentBgRepeat.png');
  background-repeat: repeat-y;
  padding: 20px 0;
}
div#contentTop {
  width:960px;
  height:20px;
  margin: 150px auto 0 auto;
  background-image: url('../images/contentBgTop.png');
  background-repeat: no-repeat;
  padding: 0;
}
div#contentBottom {
  width:960px;
  height:20px;
  margin: 0 auto 50px auto;
  background-image: url('../images/contentBgBottom.png');
  background-repeat: no-repeat;
}

div#accountInfo {
  width: 100%;
  margin: 0 0 0 0;
  padding: 20px 0 0 0;
  height: 47px;
  background-image: url('../images/headerBG.png');
  background-repeat: repeat-x;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
#accountInfo ul {
  width: 300px;
  text-align: right;
  margin: 0 auto 0 auto;
  padding: 0;
  float: right;
}
#accountInfo ul li {
  display: inline;
  margin: 0;
  padding: 0;
}

#top-bar {
  float: right;
}
.edit {
  font-size: .5em;
}
#person-bar-greeting {
  float: left;
}
#person-bar-action {
  float: left;
}

#header {
  margin-top: 25px;
}
#header h1 {
  float: left;
  width: 440px;
  line-height: 1.1em;
}
#newExpense, #newPayment {
  display: block;
  float: left;
  width: 166px;
  height: 48px;
  background-repeat: no-repeat;
}
#newExpense span, #newPayment span {
  display: none;
}
#newExpense {background-image: url('../images/newExpense.png'); margin-left: 25px;}
#newPayment {background-image: url('../images/newPayment.png'); margin-left: 15px;}
#newExpense:hover, #newPayment:hover {background-color: #fff;}

#oweTop, .goldBoxTop {
  width: 960px;
  height: 31px;
  background-image: url('../images/goldBoxTop.png');
  background-repeat: no-repeat;
  margin: 0;
  padding-top: 20px;
}
#oweTop h2 {
  font-family: "Helvetica Neue Light";
  font-style: normal;
  font-size: 180%;
  color: #999;
}
#oweTop .column_1 {
  padding-left: 100px;
}
#oweMiddle, .goldBoxMiddle {
  background-color: #ffc90e;
  background-image: url('../images/goldBoxBGRepeat.png');
  background-repeat: repeat-x;
  padding-left: 100px;
  width: 860px;
  margin: 0;
  min-height: 146px;
}
#oweBottom, .goldBoxBottom {
  width: 960px;
  height: 32px;
  background-image: url('../images/goldBoxBottom.png');
  background-repeat: no-repeat;
  margin: 0 0 50px 0;
}

.goldBoxMiddle {
  
}

.boxHeader {
  width: 960px;
  height: 51px;
  background-repeat: no-repeat;
  margin: 0;
}
#roommatesHeader {
  background-image: url('../images/roommatesHeader.png');
}
#expensesHeader {
  background-image: url('../images/expensesHeader.png');
}
#paymentsHeader {
  background-image: url('../images/paymentsHeader.png');
}
.boxMiddle {
  background-color: #ececec;
  background-image: url("../images/boxBGRepeat.png");
  width: 860px;
  padding-left: 100px;
  padding-bottom: 20px;
  margin: 0;
  background-repeat: repeat-x;
  min-height: 142px;
}
.boxFooter {
  width: 960px;
  height: 37px;
  background-image: url('../images/boxFooter.png');
  background-repeat: no-repeat;
  margin: 0 0 50px 0;
}
.addBanner {
  height: 87px;
  width: 87px;
  z-index: 100;
  background-image: url('../images/addBanner.png');
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: -87px;
  display: block;
}
.addBanner:hover {background-color: transparent;}
.addBanner span {
  display: none;
}

.clearfix {
  clear:both;
  margin: 0;
  padding: 0;
}

.inline {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
  margin-left: 0px;
  font-size: 1.4em;
}
.boxMiddle li {
  font-family: Cambria, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.1em;
  border-bottom: 1px dotted #666;
  padding-bottom: 2px;
  padding-top: 2px;
}
.boxMiddle li.last {
  border: none;
}
#oweMiddle li {
  font-family: “Lucida Grande”, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: -1px;
  line-height: 1.4em; 
}
h1 {
  font-size: 3em;
  font-weight: normal;
  margin: 0 0 20px 0;
  padding: 0;
  padding-left: 100px;
}
h2 {
  font-family: Georgia, serif;
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.4em;
  margin-bottom: 20px;
}
.column_1 {
  width: 380px;
  float: left;
  margin-right: 0px;
}
.column_2 {
  width: 380px;
  margin-right: 100px;
  padding:0;
  float: right;
}
.center {
  width: 960px;
  margin: auto;
}

.notice {
  color: green;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1em;
  float: left;
  margin-left: 50px;
  width: 550px;
  margin-top: 5px;
}

.error {
  color: red;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1em;
  float: left;
  margin-left: 50px;
  width: 550px;
  margin-top: 5px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

/****************************
******** DASHBOARD *********
***************************/

.expenseName {
  font-weight: bold;
  display: block;
  float: left;
  font-size: 110%;
}

.amount {
  display: block;
  float: right;
}

.expenseSmall {
  color:#666666;
  display:block;
  font-size:11px;
  font-weight:normal;
  text-align:left;
  line-height: 1em;
  float: left;
  clear: both;
}

.expenseDate {
  color:#999;
  display:block;
  font-size:11px;
  font-weight:normal;
  line-height: 1em;
  float: right;
}

.column_1 ul li {
  width: 300px;
  clear: both;
}

.more {
  font-size: 80%;
  color: #666;
}

.single_column {
  margin: 0;
  float: left;
}
.single_column ul li {
  width: 600px;
  clear: both;
}
.single_column ul li.owner {
  background-color: #dadada;
}

.smallLink {
  font-size: 65%;
  font-weight: normal;
  text-decoration: none;
  color: red;
}
.smallLink:hover {
  color: white;
  background-color: red;
}

/****************************
********** FORMS ***********
***************************/


form {
  margin:0 0;
  width: 700px;
  padding:14px 14px 14px 0;
}

.column_1 form, .column_2 form {
  width: 352px;
}

.wizard form {
  width: 800px;
}

.wizard.house-lookup label {
  width:200px;
}
.wizard.house-lookup label span.small  {
  width: 200px;
}

.wizard input {
  width: 500px;
}

.wizard button {
  clear: both;
}

.field {
  padding-top: 15px;
}

input, select, textarea {
  font-size: 1.2em;
  color: 999;
  
  float:left;
  font-size:12px;
  padding:4px 2px;
  border:solid 1px #aacfe4;
  width:440px;
  margin:2px 0 20px 20px;
}

.column_1 input, .column_2 input, .column_1 select, .column_2 select, .column_1 textarea, .column_2 textarea {
  width: 200px;
}

label {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.4em;
  
  display:block;
  font-weight:bold;
  text-align:right;
  width:200px;
  float:left;
}

.column_1 label, .column_2 label {
  width: 120px;
}

.field_with_errors input, .field_with_errors select {
  color: red;
  border: 3px solid red;
}
.field_with_errors label, .field_with_errors .small {
  color: red;
}

.errorExplanation ul, .errorExplanation ul li {
  list-style-type: none;
}

.small{
  color:#666666;
  display:block;
  font-size:11px;
  font-weight:normal;
  text-align:right;
  width:200px;
  line-height: 1em;
}

.column_1 .small, .column_2 .small {
  width: 120px;
}

.listInputs {
  float: left;
  width: 440px;
}
.listInputs input, .listInputs label {
 display: inline;
 float: left;
}
.listInputs input {
  width: 20px;
}
.listInputs label {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.2em;
  text-align: left;
  margin-left: 20px;
}
.listInputs li {
  clear: both;
  float: none;
}

.actions {
  width: 250px;
  margin: auto;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  clear:both;
	width:125px;
	height:31px;
	background:transparent url("../images/button.png") no-repeat;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
	margin-top: 20px;
}

a.cancel {
  color: red;
}
a.cancel:hover {
  background-color: red;
  color: white;
}

h1 input {
  float:left;
  font-size:100%;
  width:250px;
}
h1 button.inline {
  clear:none;
  display:block;
  float:left;
  margin-left:20px;
}