<p>
	<b>Name</b>
	<%= @expense.name %><br />
  <b>Amount in cents:</b>
  <%= @expense.amount_in_cents %>
</p>


<%= link_to 'Edit', edit_house_expense_path(@house, @expense) %> |
<%= link_to 'Back', house_expenses_path(@house) %>
